<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saiwill.business.mapper.StudentMapper">
    <select id="findById" resultType="com.saiwill.business.entities.Student">
        select * from student where city = #{id}
    </select>
</mapper>